body {
  overflow-x: hidden;
  flex-direction: column;
  zoom: 85%;
  margin: 0;
}
html {
  overflow-x: hidden;
  flex-direction: column;
}

.image-in-container {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  display: block;
}

.poster-container {
  border: 1px solid white;
}
.poster-container:hover {
  border: 1px solid darkred;
}
.my-facebook-button-class {
  background: white;
  display: inline-flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.54);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 2px 0px,
    rgba(0, 0, 0, 0.24) 0px 0px 1px 0px;
  border-radius: 2px;
  border: 1px solid transparent;
  font-size: 14px;
  font-weight: 500;
  padding: 10px;
  font-family: Roboto, sans-serif;
  max-height: 44px;
  font-weight: 500;
}

.multiline-ellipsis {
  display: block;
  display: -webkit-box;
  max-width: 400px;
  height: 100.2px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 1.5;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.multiline-ellipsis-people-modal {
  display: block;
  display: -webkit-box;
  height: 300px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 2;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.multiline-ellipsis-people-details {
  display: block;
  display: -webkit-box;
  height: 300px;
  margin: 0 auto;
  font-size: 15px;
  line-height: 2;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.movie-body-right {
  border-left: 1px solid #e7b6b6;
  background: #f4e3e3;
}

.container-size {
  padding: 0;
  flex-direction: initial;
  box-shadow: 2px 2px 5px #ececec;
  border: none;
  max-height: 290px;
}
.collection {
  overflow: auto;
  white-space: nowrap;
  max-height: 420px;
}

.image-fit {
  width: 100%;
  height: 310px;
  object-fit: cover;
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.pagination {
  font-size: 20px;
  font-weight: bold;
  line-height: 2;
  margin: 5px;
  text-align: center;
  width: 35%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 100px;
}

.break-me {
  color: black;
  margin-left: 8px;
  margin-right: 8px;
}

.each-page-paginate {
  color: black;
  margin-left: 5px;
  margin-right: 5px;
}

.active-page-paginate {
  border: 1px solid black;
  border-block-width: 10px;
}

.previous-pagination-butto {
  color: black;
  margin-right: 5px;
}

.next-pagination-butto {
  color: black;
  margin-left: 5px;
}

.search-box-custom {
  width: 100%;
  height: 37px;
  border: none;
  outline: 0;
  border-bottom: 1px solid darkseagreen;
  border-radius: 0;
  outline: none;
}
.search-box-custom input {
  margin-left: 100px;
}
.md-form {
  border-bottom: 0;
}

.logo {
  margin-top: 10px;
  color: #fff;
}

.logo-img {
  margin-left: 130px;
}
.movie-body-unit {
  margin-bottom: 30px;
  margin-top: 20px;
}

.header {
  background: #272525;
  display: block;
  height: 110px;
}

.navbar-btn {
  color: #ecd4d4;
  margin: 15px;
  outline: none;
}

.navbar-btn:hover {
  text-decoration: none;
  color: #fefefe;
}

.hover-red :hover {
  color: red;
}

.watch-trailer-btn-cover {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  width: 360px;
  height: 35px;
  background-color: rgba(0, 0, 0, 0.85);
  text-align: center;
  cursor: pointer;
}

.movie-background {
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
}

.movie-description-container {
  margin-top: 35px;
  max-height: 520px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  color: white;
}
.movie-description-image {
  max-height: 520px;
  margin-left: auto;
  margin-right: auto;
  background-color: #272525;
}

.Modal {
  position: absolute;
  top: 50%;
  bottom: auto;
  left: 50%;
  right: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.Modal-Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0, 0, 0, 0.8);
}

/* scroll bar start */
.menu-item {
  padding: 0 40px;
  margin: 5px 10px;
  user-select: none;
  cursor: pointer;
  border: none;
}
.card-mobile {
  margin: 3% !important;
}
.card-body {
  padding: 10px !important;
}
.card-title {
  margin-bottom: 0;
  font-size: 16px;
  line-height: 0;
}

.scroll-menu-arrow {
  padding: 20px;
  cursor: pointer;
  font-size: 200%;
}
/* scroll bar end */
.filter-dropbox {
  height: 100px;
}
.image-background {
  background-color: rgba(85, 58, 58, 0.8);
  height: 600px;
}
.movie-details-buttons {
  margin-top: 0;
  padding: 0px;
  margin-top: 30px;
}
.overview {
  line-height: 1.9;
  margin-top: 50px;
}
.people-modal {
  height: 702px;
  width: 1152px;
  background: white;
  color: black;
}
.people-card {
  margin: 15px 30px 15px 30px;
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.people-image-modal {
  object-fit: contain;
  height: 703px;
}
.case-image-modal {
  object-fit: contain;
  height: 680px;
}
.image-curve {
  float: right;
  height: 680px;
  width: 400px;
  shape-outside: ellipse(60%);
}
.people-credits-tab-tiele {
  text-align: center;
  margin-top: 25px;
}
.display-none {
  display: none;
}
.hide-pc {
  display: none;
}
.people-biography-modal {
  width: 100%;
  margin-left: 100px;
  background: white;
  color: black;
  padding: 15px;
  font-size: 16px;
  height: auto;
}
.group-list {
  margin-top: 22%;
}
.home-box {
  height: 380px;
  color: black;
  text-align: left;
  margin: 20px;
}
.image-fit-homepage-left {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.image-fit-homepage-right {
  width: 100%;
  height: -webkit-fill-available;
  object-fit: fill;
}
.up-coming {
  left: 20px;
  padding: "0px";
}
.home-shadow {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.popcorn-image {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: left;
  zoom: "100%";
}
.title-tag {
  background: #fff9f7;
  padding: 4px;
  width: fit-content;
  margin: 5px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 2px 0px,
    rgba(0, 0, 0, 0.24) 0px 0px 1px 0px;
}
.adContent {
  display: inherit;
  width: 300px;
  height: 600px;
}